@import admin_defines.sass
@import reset.sass
@import utilities.sass

//------------------------------------------------------------------------------------------------------------------
//                                                    TYPOGRAPHY                    
//------------------------------------------------------------------------------------------------------------------
p, li 
  :font-size 12px
  :line-height 14px
  :margin 0 0 10px 0
  
a
  :color = !accent
  :font-size 12px
  &:visited
    :color = !accent
  &:hover
    :text-decoration underline

h1
  :font-size 45px
  :padding 100px 0 5px 0
  :letter-spacing 2px
h2
  :font-size 15px
  :margin -4px 0 5px 0
  :font-weight normal
h3
  :font-size 18px
  :margin 40px 0 0 0

.emphasis
  :color = !accent  

//------------------------------------------------------------------------------------------------------------------
//                                                    STRUCTURE                    
//------------------------------------------------------------------------------------------------------------------
body
  :font-size 62.5%
  :font-family Helvetica, Verdana, Arial, sans-serif
  :color = !dark_gray 

hr
  :background = !light_gray
  :height 5px
  :border none
  :margin 0 0 30px 0

  &.subheader
    :background = !light_gray
    :height 3px
    :border none
    :margin 0 0 10px 0
    :width 60%

#pagewrap
  :width = !pagewrap_width
  :margin auto
  :position relative

nav
  :float right
  :margin-top 20px
  :font-size 12px
  :letter-spacing 0.5px


//------------------------------------------------------------------------------------------------------------------
//                                             ERRORS & FLASH MESSAGES                    
//------------------------------------------------------------------------------------------------------------------
#flash_notice
  :font-size 12px
  :padding 7px 7px 5px 7px
  +message_box
  :margin 0 0 10px 0

#errorExplanation
  +message_box
  :padding 15px 15px 5px 15px
  :margin-bottom 20px

  h2
    :font-size 18px
    :margin 0 0 10px 0
    :letter-spacing 0.5px
    :text-transform uppercase

  ul
    :padding 0 0 0 20px
    :margin 0

.fieldWithErrors
  :font-size 12px
  :color = !accent


//------------------------------------------------------------------------------------------------------------------
//                                                BUTTONS                    
//------------------------------------------------------------------------------------------------------------------
+basic_buttons
.button
  :color #fef4e9
  :border solid 1px #da7c0c
  :background #f78d1d
  :background -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20))
  :background -moz-linear-gradient(top,  #faa51a,  #f47a20)
  :filter progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20')
  :margin-bottom 20px

.button:hover
  :background #f47c20
  :background -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015))
  :background -moz-linear-gradient(top,  #f88e11,  #f06015)
  :filter progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015')

.button:active
  :color #fcd3a5
  :background -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a))
  :background -moz-linear-gradient(top,  #f47a20,  #faa51a)
  :filter progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a')


//------------------------------------------------------------------------------------------------------------------
//                                                    FORMS                    
//------------------------------------------------------------------------------------------------------------------
.field
  :margin-bottom 15px

  label
    :display block
    :margin-bottom 3px
    :font-size 12px
  
  input
    +form_border
    :padding 3px
    :margin-bottom 3px

  textarea
    +form_border
    :padding 3px
    :height 180px
    :font-family Helvetica, Verdana, Arial, sans-serif
    :font-size 12px


//------------------------------------------------------------------------------------------------------------------
//                                                    FOOTER                    
//------------------------------------------------------------------------------------------------------------------
+sticky_footer

footer
  :position relative
  :margin-top = !footer_height * -1
  :height = !footer_height
  :clear both
  :background = !light_gray

  #copyright
    :font-size 11px
    :width = !pagewrap_width
    :margin auto
    :padding 16px 0 0 0